body {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

/* NAVBAR AND LOGO */

header {
    background: rgb(34, 34, 34);
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo{
    float: left;
    padding: 5px;
}

nav {
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    font-weight: 500;
    display: inline-block;
    margin-left: 70px;
    padding-top: 35px;
    
    position: relative;
}

nav ul>li>a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

nav ul>li>a:hover {
    transition: ease-in .2s;
    color: rgb(143, 44, 189);
}

nav ul>li>a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: rgb(143, 44, 189);

    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in 200ms;
}

.user-icon{
    color: #fff;
}

.login-btn:hover .user-icon{
    color: rgb(143, 44, 189);
}

nav ul>li>a:hover::before {
    width: 100%;
}

.login-btn {
    padding: 10px 18px;
    background: rgb(34, 34, 34); /* or your header accent color */
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.2s ease;
    margin-right: 10px;
}

.login-btn:hover {
    background: rgb(55, 55, 55);
}



/* HERO */

.hero{
    background-color: rgb(19, 19, 19);
    height: 820px;
}

.hero-container {
    width: 80%;
    margin: 0 auto;
}

.info-text{
    color: rgb(222, 146, 5);
    font-weight: 400;
}

.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 70vh;
}

.hero-text{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.hero-text .static-txt{
    color: #bfbfbf;
    font-weight: 600;
    font-size: 55px;
}

.hero-text .dynamic-txts {

    line-height: 90px;
    height: 90px;
    overflow: hidden;
}


.hero-text .dynamic-txts li{
    list-style: none;
    color: rgb(143, 44, 189);
    font-size: 55px;
    font-weight: 600;
    top: 0;
    position: relative;
    animation: slide 15s steps(5) infinite;
}

@keyframes slide{
    100%{
        top: -450px; 
    }
}

.dynamic-txts li{
    position: relative;
}

.dynamic-txts li::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(19, 19, 19);
    border-left: 2px solid rgb(143, 44, 189);
    animation: typing 3s steps(9) infinite;
}

@keyframes typing {
    40%,
    60%{
        left: calc(100% + 30px);
    }
    100%{
        left: 0;
    }
}

.hero::before,
.hero::after {
    content: '';
    position: absolute;
    height: 120px;
    bottom: -5px;
    right: 0;
    left: 0;
    background: #eeeeee;
    transform: skewY(-3.2deg);
}


/* QUIZ OPTIONS */

.quiz-options{
    background-color: #eeeeee;
    height: 500px;
}

.btn {
    display: inline-block;
    padding: 13px 20px;
    background-color: hsl(271, 89%, 55%);
    color: #eeeeee;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
}